body{
    background-color: #c3c9e9;
}

h1{
    color: #212922;
}

h2{
    color: #212922;
}

.btn {
    background-color: #aaabbc;
    border: none;
    color: #373f47;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #6c91c2;
}

.btn.btn-rep {
    background-color: #435058;
    border: none;
    color: #aaabbc;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btn.btn-rep:hover {
    background-color: #212922;
}

.textBox{
    background-color: #BEBECE;
    border-style: none;
    width: 100%;
    height: 150px;
    resize: none;
}

#clearBase {
    background-color: #A41616;
    border: none;
    color: #B68484;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#clearBase:hover {
    background-color: #9E0000;
}